@using ForumApp.Models.User
@model IEnumerable<Comment>
@{
    Post post = (Post)ViewData["Post"];
}

<h2>All comments</h2>

@if (Model != null)
{
    <table class="table">
        <tbody>
            @foreach (var comment in Model.Reverse())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => comment.Description)
                    </td>
                    <td>
                        @if (comment.Author.UserName == User.Identity.Name ||
                          comment.AuthorIdFromCreated == User.Identity.Name)
                        {
                            <div class="btn btn-group">
                                <a asp-controller="PostComment" asp-action="Edit" asp-route-id="@comment.Id" class="btn btn-warning">Edit</a>
                                <a asp-controller="PostComment" asp-action="Delete" asp-route-id="@comment.Id" class="btn btn-danger">Delete</a>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<a asp-controller="PostComment" asp-action="Create" asp-route-id="@post.Id" class="btn btn-primary btn-sm">Add comment</a>
<a href="/User/Index" class="btn btn-danger btn-sm">Back</a>